# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Docker
.docker-compose.override.yml
# Ignore the persistent database data folder
pgdata/

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Scripts
*.log